* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background: #1f1f1f;
    font-size: 1rem;
}

.header__container {
    background: #4a50ff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title__block {
    color: white;
}

.main__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    background: #4a50ff;
    border-radius: 10px;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__container {
    padding: 10px;
}

.unit__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

a:visited, a:link {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}